.social-link {
    border-radius: 50%;
    color: #fff;
    height: 4em;
    position: relative;
    width: 4em;
    margin: 1em;
}

.circle-icon {
    fill: currentColor;
    height: 50%;
    left: 50%;
    position: absolute;
    stroke: currentColor;
    stroke-width: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}