h2 {
    color: hsl(0, 0%, 20%);
    font-weight: 700;
}
p {
    color: hsl(0, 0%, 45%);
    font-weight: 400;
}

.tech {
    color: hsl(0, 0%, 13%);
    font-weight: 500;
}

.card {
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 hsl(0, 0%, 0%,20%);
    margin-bottom: 20px;
}

.frontend {
    border-top: 6px solid #40A4F4;
}

.backend {
    border-top: 6px solid #F80000;
}

.movil {
    border-top: 6px solid #78C257;
}

.devOps {
    border-top: 6px solid #FF9900;
}
.other {
    border-top: 6px solid #333;
}